<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta content="text/html; charset=utf-8" http-equiv="content-type" />
<title>Pancake Master</title>
<body>
<div id="main">
{content}
</div>
<div id="footer">
    <a href="https://www.google.com/calendar/embed?src=hro2l5sss2c0231qla9d79fpcg%40group.calendar.google.com&ctz=US/Central">Calendar of showtimes</a><br />
    <a href="http://lexicalunit.github.io/pancake-master">Current showtimes from Pancake Master</a><br />
    <a href="https://github.com/lexicalunit/pancake-master">pancake-master on github.com</a><br />
</div>
</body>
</html>