/* pancake-master style
   License: none (public domain)
*/

.status {
    position: fixed;
    top: 50px;
    left: 10px;
}

.status div {
    text-decoration: none;
    color: black;
    font-size: small;
    font-family: sans-serif;
}

div.tooltip div {
    z-index: 10;
    display: none;
    position: fixed;
    top: -13px;
    left: 80px;
}

div.tooltip:hover div {
    display: block;
}

div.tooltip div {
    position: absolute;
    min-width: 300px;
    line-height: 150%;
    padding: 10px 16px 10px 8px;
    text-align: left;
    color: rgb(255, 255, 255);
    background: rgb(96, 172, 57);
    border: 0;
    border-radius: 0 3px 3px 0;
}

div.tooltip div:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-width: 24px;
    border-style: solid;
    border-color: transparent #60AC39 transparent transparent;
    top: 0;
    left: -48px;
}

div.tooltip div.tooltip_content {
    min-height: 80px;
}

div.tooltip li.status_header {
    font-weight: bolder;
    border-bottom: 1px dotted white;
    margin-bottom: 1em;
}
