/* pancake-master style
   License: none (public domain)
*/

html {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #000;
    font-family: sans-serif;
}

a {
    margin: 0;
    padding: 0;
    border: 0;
    color: inherit;
    text-decoration: none;
}

/* films */

h1 a:hover, h2 a:hover {
    color: #E9E5C8;
    text-decoration: none;
}

.main {
    width: 80%;
    padding: 0;
    margin: 0 auto 3em auto;
    border: 0;
}

@media screen and (min-width:800px) {
    .main {
        margin-top: 6em;
    }
}

.film_heading {
    color: #E9E5C8;
    background-color: #A31E21;
    margin: 5% 0 0 0;
    padding: 2% 2% 0 2%;
    border-top: 8px solid #E2C162;
    border-right: 8px solid #E2C162;
    border-bottom: 0;
    border-left: 8px solid #E2C162;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-shadow: 3px 3px 3px #4d4d4d;
}

.cinema_heading {
    color: #E9E5C8;
    background-color: #A31E21;
    margin: 0;
    padding: 0 0 1% 3%;
    border-top: 0;
    border-right: 8px solid #E2C162;
    border-bottom: 0;
    border-left: 8px solid #E2C162;
}

.pancake_item {
    margin: 0 3% 0 3%;
    padding: 0 3% 0 3%;
    border: 0;
    font-size: 125%;
    line-height: 150%;
}

.pancake_items {
    background-color: #A31E21;
    margin: 0;
    padding: 2%;
    border-top: 0;
    border-right: 8px solid #E2C162;
    border-bottom: 8px solid #E2C162;
    border-left: 8px solid #E2C162;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    list-style-type: none;
    list-style: none;
}

.pancake_item:nth-child(odd) {
    background-color: #FFFFFF;
}

.pancake_item:nth-child(even) {
    background-color: #F5F5F5;
}

.pancake_item:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.pancake_item:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.onsale {
    color: blue;
}

.soldout {
    text-decoration: line-through;
}

li a:hover {
    color: #8DE1FF;
    text-decoration: none;
}

/* search */

@media screen and (min-width:800px) {
    .search {
        position: absolute;
        top: 10px;
        left: 10px;
    }
}

.search input {
    background-color: #440e10;
    border: 3px solid rgb(226, 193, 98);
}

.search input.form-control::-webkit-input-placeholder { color: white; }
.search input.form-control:-moz-placeholder { color: white; }
.search input.form-control::-moz-placeholder { color: white; }
.search input.form-control:-ms-input-placeholder { color: white; }

.search input:focus {
    background-color: white;
    color: black;
}

/* forkongithub */

.forkongithub a {
    display: block;
    width: 96%;
    margin: 10px auto;
    background-color: #440e10;
    color: #E9E5C8;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    font-size: 1em;
    line-height: 2rem;
    position: relative;
    transition: 0.5s;
    border: 3px solid rgb(226, 193, 98);
    border-radius: 5px;
}

.forkongithub a:hover {
    background-color: #A31E21;
    color: #E9E5C8;
}

@media screen and (min-width:800px) {
    .forkongithub {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        width: 200px;
        overflow: hidden;
        height: 200px;
        z-index: 9999;
    }

    .forkongithub a {
        margin: 0;
        width: 200px;
        position: absolute;
        top: 30px;
        right: -50px;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
    }
}
